{erl_opts, [
            warn_obsolete_guard,
            warn_unused_import,
            warn_shadow_vars,
            warn_export_vars]}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam" ,"priv/log/*"]}.
{deps_dir,["deps"]}.
{sub_dirs, ["deps","rel","apps/proxy-client","apps/proxy-server"]}.
{deps,[
    {lager,".*",{git,"git://github.com/basho/lager.git",{branch,"master"}}},
    {cowboy,".*",{git,"git://github.com/extend/cowboy.git",{tag,"0.8.1"}}}
]}.

